extends layout

block content
  h1= 'Crappy Twitter'

  if (user != undefined)
    div(class='chunk', id='createchunk')
      form(action = '/tweets/create', method='POST', id = 'newtwit')
        span(id='composer')
          |Compose a Twit
        input(type='textbox', name='twit')
        br
        input(type ='submit', value = 'Send Twit')


  div(class='chunk', id='twitschunk')
    div(id='topnote')
      |Look at all these twits!
    div(id = 'refresh')
      include _twits